<!DOCTYPE html>

<html>

<head>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
         {{>header}}
        <img src="201412_rat.png">
        <h1>{{name}}</h1>
        {{>footer}}
    </body>




</html>