<!DOCTYPE html>

<html>

    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>


    <body>
        {{>header}}
        <p1>{{helptext}}</p1>
        {{>footer}}
    </body>



</html>